<!DOCTYPE html>
<html>
<head>
    <title>Display All</title>
</head>
<body>
    
    <li><a href="/">Main menu</a></li>

    <h1>Students</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Birth Date</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Courses</h1>
    <table border="1">
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Description</th>
            <th>Teacher ID</th>
            <th>Time</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ course[0] }}</td>
            <td>{{ course[1] }}</td>
            <td>{{ course[2] }}</td>
            <td>{{ course[3] }}</td>
            <td>{{ course[4] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Teachers</h1>
    <table border="1">
        <tr>
            <th>Teacher ID</th>
            <th>Name</th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher[0] }}</td>
            <td>{{ teacher[1] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Depenedent</h1>
    <table border="1">
        <tr>
            <th>Dependent Name</th>
            <th>Relationship</th>
            <th>Insured Price</th>
            <th>Teacher ID</th>
        </tr>
        {% for dependent in dependent %}
        <tr>
            <td>{{ dependent[0] }}</td>
            <td>{{ dependent[1] }}</td>
            <td>{{ dependent[2] }}</td>
            <td>{{ dependent[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Total Number of Students:</h2>
    <p>{{ total[0][0] }}</p>
</body>
</html>
